<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootBaseWebStaticApp" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="basewebapp-static" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="springboot.basewebappstatic.SpringBootBaseWebStaticApp" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>